<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista film</title>
  </head>
  <body>
    <h2>Films</h2>
    {{#each film}}
      <h2>{{this.titolo}}</h2>
      <p>{{this.regista}}</p>
      <p>{{this.anno}}</p>
      <p>{{this.genere}}</p>
      <p>{{this.durata}}</p>
      <p>{{this.attori}}</p>
    {{/each}}
  </body>
</html>